<h2><%= @product_category.name %></h2>
<dl>
  <dt>Código</dt>
  <dd><%= @product_category.code %></dd>
</dl>

<%= link_to "Excluir", product_category_path(@product_category), method: :delete, 
                  data: { confirm: 'Deseja realmente apagar essa promoção?'} %>
<%= link_to "Voltar", product_categories_path %>